body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    background-color: #f4f4f4;
    gap: 20px; /* Adjust the value as needed */
}
.tagline {
    text-align: center;
    color: #666;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    
    
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.button {
    background-color: #2765c7;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 30px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: rgb(35, 63, 109);
}

.features {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.feature-box {
    background-color: #ffd700;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    height: 20em;
    /* width: 30%; */
    border-radius: 5px;
}
.feature-box:nth-child(1) {
    background-color: #ffde59; /* Bright Yellow */
}

.feature-box:nth-child(2) {
    background-color: #ffbd59; /* Orange */
}

.feature-box:nth-child(3) {
    background-color: #ff8e59; /* Light Red */
}
.feature-box h3 {
    font-size: 1.4em;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}

.feature-box p {
    font-size: 1em;
    color: #555;
}

.feature-box img {
    max-width: 200px;
    margin-bottom: 10px;
}



nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}


nav a:hover {
    background-color: #575757;
}

.hero {
    position: relative;
    height: 400px;
    background-color: #851f1fd3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.container {
    padding: 20px;

}





footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}