<!-- editQuiz.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit a Quiz</title>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../public/styles.css">
</head>

<body data-page="edit">
  <!-- Header -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">QuizCraft</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="instruction.html">Instructions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="student.html">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="mentor.html">Mentor</a>
          </li>
      </div>
    </div>
  </nav>
  <!-- Header -->

  <!-- Main Scene with edit quiz functionality -->
  <main class="container mt-5">
    <div class="container ">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Edit your Quiz</h1>
        </div>
      </div>
      <form id="qForm">
        <div class="mb-3">
          <label for="quizTitle" class="form-label">Quiz Title:</label>
          <input type="text" id="quizTitle" class="form-control">
        </div>
        <div class="d-flex flex-row justify-content-around">
        <div class="mb-3 flex-fill">
          <label for="questionType" class="form-label">Select Question Type:</label>
          <select id="questionType" name="questionType" class="form-select " >
            <option value="trueFalse">True/False</option>
            <option value="multipleChoice">Multiple Choice</option>
          </select>
        </div>
        <div class="mb-3  flex-fill" style="margin-left: 5%; ">
          <label class="form-label">Time Limit (minutes):</label>
          <input type="number" id="timeLimit" class="form-control" value="60" placeholder="Set time limit">
      </div>
      </div>

        <button type="button" class="btn btn-primary mb-3" id="addQBtn">Add Question</button>
        
        <button type="submit" class="btn btn-success mb-3" id="saveButton">Save Quiz</button>

        <button type="button" class="btn btn-success mb-3" id="cancelBtn">Cancel Changes</button>

        <div class="card mb-3 question-card-template question d-none">
          <div class="card-body">
            <div class="mb-3">
              <label for="questionText" class="form-label">Question:</label>
              <input type="text" class="form-control questionText question-input" placeholder="Enter your question here">
            </div>
            <div class="mb-3">
              <label for="correctOption" class="form-label">Correct Option:</label>
              <select class="form-select correct-option-select correctAnswer">
               
              </select>
            </div>
          </div>
        </div>

        <div id="questionContainer">
          
          
        </div>
      </form>
    </div>
  </main>
  <!-- Main Scene with edit quiz functionality -->

  <!-- Footer -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Group 11</p>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="index.html" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item"><a href="instruction.html" class="nav-link px-2 text-body-secondary">Instructions</a></li>
        <li class="nav-item"><a href="student.html" class="nav-link px-2 text-body-secondary">Student</a></li>
        <li class="nav-item"><a href="mentor.html" class="nav-link px-2 text-body-secondary">Mentor</a></li>
      </ul>
    </footer>
  </div>
  <!-- Footer -->



  <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="../public/editQuiz.js"></script>
</body>
</html>
